/* 노트북 사이즈 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 40px;
  }

  /* 두번째 섹션 */
  .greetings {
    width: 100%;
  }

  /* 나의 이야기와 포부 */
  .greetings .greetings-page .my-story {
    font-size: 1.8vw;
  }
}

/* 노트북 미디엄 사이즈 */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 40px;
  }

  /* 첫번째 섹션 */
  #main-content1 .animated-text,
  #main-content2 .animated-text2 {
    font-size: 7vw;
  }

  /* 두번째 섹션 */
  .greetings {
    width: 100%;
  }

  .greetings-page .greetings-text {
    font-size: 7vw;
  }

  .greetings .greetings-page .img-text {
    column-gap: 40px;
  }

  /* 내 증명사진 */
  .greetings .greetings-page .img-text img {
    width: 275px;
  }

  /* 나의 이야기와 포부 */
  .greetings .greetings-page .my-story {
    font-size: 1.9vw;
    padding: 77px 62px;
  }

  /* 세번째 섹션 */
  .mockup-images {
    height: auto;
  }

  .introduction-page .introduction-text {
    font-size: 7vw;
  }

  /* 풋터 */
  .space-effect {
    padding: 100px 0;
  }

  .footer .txt h3 {
    font-size: 7vw;
  }

  /* 큰 타원형 스타일 */
  .ellipse-container {
    width: 800px;
  }

  .link-all {
    gap: 15px;
    margin-top: 30px;
    box-sizing: border-box;
  }

  .footer .employment .link-all a {
    font-size: 20px;
    padding: 10px;
  }
}

/* 테블릿 사이즈 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  /* 첫번째 섹션 */
  #main-content1 .animated-text,
  #main-content2 .animated-text2 {
    font-size: 7vw;
  }

  /* 두번째 섹션 */
  .greetings {
    width: 100%;
  }

  .greetings-page .greetings-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  .greetings .greetings-page .img-text {
    flex-direction: column;
    row-gap: 40px;
  }

  /* 내 증명사진 */
  .greetings .greetings-page .img-text img {
    width: 275px;
  }

  /* 나의 이야기와 포부 */
  .greetings .greetings-page .my-story {
    width: 650px;
    font-size: 24px;
    line-height: 35px;
    padding: 77px 44px;
  }

  /* 세번째 섹션 */
  .mockup-images {
    height: auto;
    flex-direction: column;
  }

  .introduction-page .introduction-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  /* 웹 페이지 기능 종류 */
  .introduction-page .btns {
    width: 353px;
    float: right;
  }

  .introduction-page button {
    margin: 10px 10px;
  }

  /* 풋터 */
  .space-effect {
    padding: 80px 0;
  }

  .footer .txt h3 {
    font-size: 7vw;
  }

  /* 큰 타원형 스타일 */
  .ellipse-container {
    width: 600px;
  }

  .link-all {
    gap: 15px;
    margin-top: 30px;
    box-sizing: border-box;
  }

  .footer .employment {
    padding: 0 20px;
  }

  .footer .employment .link-all a {
    font-size: 20px;
    padding: 10px;
  }
}

/* 모바일 사이즈 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  /* 첫번째 섹션 */
  #main-content1 .animated-text,
  #main-content2 .animated-text2 {
    font-size: 6vw;
  }

  /* 두번째 섹션 */
  .greetings {
    width: 100%;
  }

  .greetings-page .greetings-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  .greetings .greetings-page .img-text {
    flex-direction: column;
    row-gap: 40px;
  }

  /* 내 증명사진 */
  .greetings .greetings-page .img-text img {
    width: 275px;
  }

  /* 나의 이야기와 포부 */
  .greetings .greetings-page .my-story {
    width: 90%;
    font-size: 24px;
    line-height: 40px;
    padding: 77px 25px;
  }

  /* 세번째 섹션 */
  .mockup-images {
    height: auto;
    flex-direction: column;
  }

  .mockup-images .wrap {
    width: 90%;
  }

  .introduction-page .introduction-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  /* 웹 페이지 기능 종류 */
  .introduction-page .btns {
    width: 353px;
    float: right;
  }

  .introduction-page button {
    margin: 10px 10px;
  }

  /* 풋터 */
  .footer {
    padding: 15px;
  }

  .footer .txt h3 {
    font-size: 7vw;
  }

  /* 큰 타원형 스타일 */
  .ellipse-container {
    width: 400px;
  }

  .footer .employment {
    margin-top: 0;
    padding: 0;
  }

  .link-all {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .employment .copyright {
    font-size: 12px;
    align-self: flex-end;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  /* 첫번째 섹션 */
  #main-content1 .animated-text,
  #main-content2 .animated-text2 {
    font-size: 4vw;
  }

  /* 두번째 섹션 */
  .greetings {
    width: 100%;
  }

  .greetings-page .greetings-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  .greetings .greetings-page .img-text {
    flex-direction: column;
    row-gap: 40px;
  }

  /* 내 증명사진 */
  .greetings .greetings-page .img-text img {
    width: 275px;
  }

  /* 나의 이야기와 포부 */
  .greetings .greetings-page .my-story {
    width: 90%;
    font-size: 24px;
    line-height: 40px;
    padding: 77px 25px;
  }

  /* 세번째 섹션 */
  .mockup-images {
    height: auto;
    flex-direction: column;
  }

  .mockup-images .wrap {
    width: 90%;
  }

  .introduction-page .introduction-text {
    font-size: 7vw;
    padding: 55px 0;
  }

  /* 웹 페이지 기능 종류 */
  .introduction-page .btns {
    width: 353px;
    float: right;
  }

  .introduction-page button {
    margin: 10px 10px;
  }

  /* 풋터 */
  .footer {
    padding: 15px;
  }

  .footer .txt h3 {
    font-size: 7vw;
  }

  /* 큰 타원형 스타일 */
  .ellipse-container {
    width: 400px;
  }

  .footer .employment {
    margin-top: 0;
    padding: 0;
  }

  .link-all {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .employment .copyright {
    font-size: 12px;
    align-self: flex-end;
    margin-top: 0;
  }
}
